<h1>現場作成</h1>
<%= form_with model:@site, url: sites_create_path, local: true do |f| %>
  <div class="form_group">
    <%= f.label :customer, "得意先名" %>
    <%= f.text_field :customer %>
  </div>
  <div class="form_group">
    <%= f.label :name, "現場名" %>
    <%= f.text_field :name %>
  </div>
  <div class="form_group">
    <%= f.label :address, "現場住所" %>
    <%= f.text_field :address %>
  </div>
  <div class="form_group">
    <%= f.label :content, "施工内容" %>
    <%= f.text_area :content %>
  </div>
  <div class="form_group">
    <%= f.label :construction_date, "工事日" %>
    <%= f.date_field :construction_date %>
  </div>
  <div class="form_group">
    <%= f.submit "保存" %>
  </div>
<% end %>

<%= link_to 'ログアウト', logout_path, method: :delete %>

